.primaryButton {
  border-radius: 10px;
  color: #000;
  padding: 15px 35px;
  font-size: 18px;
  min-width: 180px;
  border: none;
}

.blue {
  background-color: #69c6ff;
}

.yellow {
  background-color: #ffac26;
}
