.articlesPage {
  margin-top: 40px;
  padding-bottom: 80px;

  h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
  }

  label {
    font-size: 24px;
  }

  input,
  select {
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
  }

  .inputCell {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    margin-top: 20px;
  }

  .inputCells {
    display: flex;
    gap: 30px;
  }

  .description {
    height: 100px;
  }

  .timeArea {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
