.card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 18px;
  position: relative;

  h3,
  p,
  span,
  button {
    position: relative;
  }

  a::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  h3 {
    font-size: 24px;
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
  }

  p {
    margin-top: 10px;
  }

  span {
    font-weight: 700;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .notBooked {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .cost {
    font-weight: bold;
    font-size: 24px;
  }
}
